# compiled output
/dist
/node_modules

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# os
.DS_Store

# tests
/coverage
/.nyc_output

# ide
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv
.env
.env.*
!.env.example

# database
/prisma/*.db
/prisma/*.db-journal

# nest type generation
/src/generated
