@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-900 text-slate-300;
  }
}

/* Custom Scrollbar Styles */
@layer utilities {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-transparent rounded-full border-[3px] border-transparent bg-clip-content transition-colors duration-200;
  }

  /* Show thumb when hovering the scrollable container */
  *:hover::-webkit-scrollbar-thumb {
    @apply bg-slate-600/50;
  }

  /* Highlight thumb on direct hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-blue-500/80 !important;
  }
}
